[Unit]
Description=Turn the TV off when turning off PC
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/true
ExecStop=/usr/bin/cec-toolbox off

[Install]
WantedBy=multi-user.target
