[Unit]
Description=Turn the TV off when going to sleep/turning off PC

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/cec-toolbox on

[Install]
WantedBy=multi-user.target suspend.target