[Unit]
Description=Handle CEC input translation
After=multi-user.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/env python3 /usr/share/cec-toolbox/input-daemon
Restart=on-failure
RestartSec=5
StartLimitBurst=5
StartLimitIntervalSec=60

[Install]
WantedBy=multi-user.target
